.head-icon icon-login, .icon-count {
	right:4px;
}

#topAdv, .ad-c-label {
height: 90px; overflow: hidden; padding: 0; margin: 0;
}

.review-background {
    background-image: url('https://fdn.gsmarena.com/imgroot/static/headers/terms.jpg');
    background-size: 100%;
  }  

  #div-gpt-ad-300x250atfgsmarenadesktop-0 {
  	height:250px; width:300px;
  }

  #unic-gdpr {
display:none;cursor:pointer;
}

#unic-ccpa {
  display:none;cursor:pointer;
}

.image-gallery{
  display: none;
}

.map {
  display: none;
}
